table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}

.table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.table th {
	text-align: center;
	vertical-align: middle;	
	width: 144.83px;
}

input {
	text-align: center;
}

h3 {
	text-align: center;
}

.navbar-custom {
    background-color: #022851;
}

.nav-link,
.navbar-brand {
    color: white;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #FFBF00;
}

/*CSS for homepage*/
div.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.container p {
    margin-top: 5vh;
    text-align: center;
}